# Eclipse
.classpath
.project
.settings/
.externalToolBuilders/
eclipsebin/
bin/
classes/
testclasses/

# Hybris
gensrc/
platformhome.properties
extensioninfo.xsd
build.xml
beans.xsd
items.xsd
hmc.xsd
*-testclasses.xml
*-webtestclasses.xml
*.build.number


# Other
*.log

